---
import type {
  TypeComponentGrid,
  TypeComponentGridSkeleton,
} from "@lib/generated/contentful";
import type { ChainModifier, Entry } from "@lib/utils";
import DynamicComponent from "@components/DynamicComponent.astro";

interface Props extends Entry<TypeComponentGridSkeleton> {}

const {
  fields: {
    elements,
    heading,
    mobileColumnsAmount,
    tabletColumnsAmount,
    desktopColumnsAmount,
  },
} = Astro.props;

const className = `grid-cols-${mobileColumnsAmount} md:grid-cols-${tabletColumnsAmount} lg:grid-cols-${desktopColumnsAmount}`;
---

<h2 class="mb-6">{heading}</h2>
<div class={`w-full grid gap-x-4 gap-y-7 lg:gap-y-10 ${className}`}>
  {elements?.filter((e) => e).map((e) => <DynamicComponent {...e!} />)}
</div>
