---
import Picture from "@components/Picture.astro";
import type { TypeTeamMemberSkeleton } from "@lib/generated/contentful";
import type { Entry } from "@lib/types";

interface Props extends Entry<TypeTeamMemberSkeleton> {
  class?: string;
}

const {
  class: className = "",
  fields: { firstName, lastName, image, link, linkLabel, role },
} = Astro.props;
---

<div class:list={className}>
  {
    image && (
      <Picture
        {...image}
        class="mb-2"
        width={300}
        height={300}
        crop="thumb"
        alt={`${firstName} ${lastName}`}
      />
    )
  }
  <div>
    <h3 class="mb-2">{firstName}<br />{lastName}</h3>
    <p class="mb-2">{role}</p>
    {
      link && linkLabel && (
        <a href={link} target="_blank">
          {linkLabel}↗
        </a>
      )
    }
  </div>
</div>
