---
import Picture from "./Picture.astro";
import type { Asset } from "@lib/types";

interface Props {
  url: string;
  kicker?: string;
  title?: string;
  description?: string;
  image?: Asset;
  urlLabel?: string;
}

const { kicker, title, description, image, url, urlLabel } = Astro.props;
---

<a
  href={url}
  class="-mx-4 px-4 py-4 gap-y-4 gap-x-8 bg-tedGray no-underline flex flex-col md:rounded-lg justify-between lg:flex-row lg:p-8"
>
  <Picture
    {...image!}
    class="object-cover w-full rounded-lg h-full"
    alt={image?.fields.title}
    width={420}
  />
  <div class="flex flex-col lg:max-w-[60%]">
    <div>
      <h3 class="text-tedDarkWhite mb-4 lg:mb-3">{kicker}</h3>
      <h1 class="mb-4 lg:mb-6">{title}</h1>
      <p class="mb-6 lg:mb-8">{description}</p>
    </div>
    <div class="flex justify-end">
      <span class="link-underline link-underline-fixed no-underline">
        {urlLabel}&nbsp;→
      </span>
    </div>
  </div>
</a>
