---
import type { TypeWebsiteSkeleton } from "@lib/generated/contentful";
import type { Entry, Link } from "@lib/types";

interface Props extends Entry<TypeWebsiteSkeleton> {}

const {
  fields: { footerPages, linkedin, instagram, facebook },
} = Astro.props;

const now = new Date();

const links: Link[] = [
  {
    label: "Repository GitHub ↗",
    url: "https://github.com/TEDxCuneo/TEDxCuneo",
    target: "_blank",
  },
];

const social: Link[] = [
  {
    label: "Instagram ↗",
    url: instagram ?? "https://www.instagram.com/tedxcuneo/",
    target: "_blank",
  },
  {
    label: "Linkedin ↗",
    url: linkedin ?? "https://www.linkedin.com/company/tedxcuneo/",
    target: "_blank",
  },
  {
    label: "Facebook ↗",
    url: facebook ?? "https://www.facebook.com/TEDxCuneo/",
    target: "_blank",
  },
];

if (footerPages) {
  footerPages
    .filter((page) => page && page.fields.slug)
    .map((page) => ({
      label: (page!.fields.navbarLabel ?? page!.fields.title) + " ↗",
      url: `/${page!.fields.slug}`,
      target: "_self",
    }))
    .reverse()
    .forEach((link) => links.unshift(link));
}
---

<footer
  class="flex-grow-0 border-t py-8 border-tedWhite grid grid-cols-1 gap-y-10 gap-x-10 md:grid-cols-3 md:min-h-280"
>
  <div class="h-full flex flex-col justify-between">
    <img
      class="w-44 mb-4 md:mb-6 md:block"
      src="/img/tedxcuneo_logo.svg"
      alt="Logo TEDxCuneo svg"
    />
    <div>
      <p class="text-tedDarkWhite">
        © {now.getFullYear()} TEDxCuneo - This independent TED event is operated
        under license from TED.
      </p>
    </div>
  </div>

  <div class="flex flex-col justify-between">
    <div class="mb-4 inline-flex flex-col gap-2 xl:mb-6 xl:flex-row">
      {
        social.map((link) => (
          <p>
            <a
              class="link-underline link-underline-fixed"
              href={link.url}
              target={link.target ?? "_blank"}
            >
              {link.label}
            </a>
          </p>
        ))
      }
    </div>
    <p class="">
      Associazione Anima Silvae
      <br />
      Via Luigi Teresio Cavallo 7/B - Cuneo CF 96100380045
    </p>
  </div>

  <div class="flex flex-col justify-between">
    <div></div>
    <div>
      {
        links.map((link) => (
          <div class="mb-3">
            <a
              class="link-underline link-underline-fixed"
              href={link.url}
              target={link.target}
            >
              {link.label}
            </a>
          </div>
        ))
      }
    </div>
  </div>
</footer>
