---
import type { TypePageSkeleton } from '@lib/generated/contentful';
import type { Entry } from 'contentful';

interface Props {
	previousPage?: Entry<TypePageSkeleton>;
	previousPageLabel?: string;
	title: string;
	intro?: string;
	pageName?: string;
}

const { title, intro, pageName, previousPageLabel, previousPage } = Astro.props;

const hasPreviousPage = previousPage && previousPageLabel;
const previousPageSlug = previousPage?.fields?.slug as string;
---

<section class="mt-14 md:mt-16">
	{
		hasPreviousPage && (
			<p class="mb-6">
				<a href={previousPageSlug} class="link-underline link-underline--fixed no-underline">
					← {previousPageLabel}
				</a>
			</p>
		)
	}
	<p class="mb-6 uppercase text-tedDarkWhite">
		{pageName}
	</p>
	<h1 class="mb-12 max-w-660 md:mb-16">{title}</h1>
	<p class="mb-28 w-full md:mb-36 md:w-1/2">{intro}</p>
</section>
